@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden;
  background: #000;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide horizontal scrollbar on mobile (Chrome / iOS) */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome / Safari */
}
